.search {
  background-color: rgba(255, 255, 255, 0.12);
  border: 1px solid #717171;
  width: 20rem;
  height: 2rem;
  border-radius: 1rem;
  padding: 0.2rem;
  color: #707070;
  font-size: 1rem;
  background-image: url('../images/search.png');
  background-size: 1.7rem;
  background-repeat: no-repeat;
  background-position: 95% 50%;
}
